<!--main imge-->
<div class="uk-container uk-container-large">
  <img class="main-img" src="img/homeImg.jpg" alt="" />
</div>

<div class="uk-card uk-card-default home-card1">
  <h1 class="">Learning that gets you</h1>
  Skills for your present (and your future). Get started with us.
  <form
    class="uk-search uk-search-default"
    style="display: block; width: 385px; margin-top: 10px"
  >
    <span class="uk-search-icon-flip" uk-search-icon></span>
    <input class="uk-search-input" type="search" placeholder="Search" />
  </form>
</div>
<!--main imge-->
<div class="uk-container uk-container-large card-container">
  <!--card1-->
  <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match">
      <div class="uk-card uk-card-default uk-card-body">
        <h3>Heading</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="div-style">
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
  <!--card1-->
  <!--card2-->
  <div class="uk-child-width-expand@s card" uk-grid>
    <div class="uk-grid-item-match">
      <div class="div-style">
        <h3>Heading</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    <div class="uk-card uk-card-default uk-card-body">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <!--card2-->
</div>
<div class="uk-container uk-container-large card-container">
  <!--teacherCard1-->
  <div
    class="uk-card uk-card-default uk-width-1-2@m uk-width-1-4@m teacherCard"
  >
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img
            class="uk-border-circle"
            width="40"
            height="40"
            src="img/hamza-salem.png"
          />
        </div>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">Hamza Salem</h3>
          <p class="uk-text-meta uk-margin-remove-top">
            <time datetime="2016-04-01T19:00">April 01, 2016</time>
          </p>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, quos
        sint maiores itaque quasi iusto dicta odit libero suscipit perspiciatis,
        repellendus dignissimos necessitatibus accusantium alias facilis
        excepturi sequi animi. Totam.
      </p>
    </div>
    <div class="uk-card-footer">
      <a href="#" class="uk-button uk-button-text">Read more</a>
    </div>
  </div>
  <!--teacherCard1-->
  <!--teacherCard2-->
  <div
    class="uk-card uk-card-default uk-width-1-2@m uk-width-1-4@m teacherCard"
  >
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img
            class="uk-border-circle"
            width="40"
            height="40"
            src="img/osama-alzero.jfif"
          />
        </div>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">Osama Alzero</h3>
          <p class="uk-text-meta uk-margin-remove-top">
            <time datetime="2016-04-01T19:00">April 01, 2016</time>
          </p>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
    </div>
    <div class="uk-card-footer">
      <a href="#" class="uk-button uk-button-text">Read more</a>
    </div>
  </div>
  <!--teacherCard2-->
  <!--teacherCard3-->
  <div
    class="uk-card uk-card-default uk-width-1-2@m uk-width-1-4@m teacherCard"
  >
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img
            class="uk-border-circle"
            width="40"
            height="40"
            src="img/ali-shahin.jfif"
          />
        </div>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">Ali Shahin</h3>
          <p class="uk-text-meta uk-margin-remove-top">
            <time datetime="2016-04-01T19:00">April 01, 2016</time>
          </p>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
    </div>
    <div class="uk-card-footer">
      <a href="#" class="uk-button uk-button-text">Read more</a>
    </div>
  </div>
  <!--teacherCard3-->
  <!--teacherCard4-->
  <div
    class="uk-card uk-card-default uk-width-1-2@m uk-width-1-4@m teacherCard"
  >
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img
            class="uk-border-circle"
            width="40"
            height="40"
            src="img/hussein-alrubaye.jpg"
          />
        </div>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">
            Hussein Alrubaye
          </h3>
          <p class="uk-text-meta uk-margin-remove-top">
            <time datetime="2016-04-01T19:00">April 01, 2016</time>
          </p>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
    </div>
    <div class="uk-card-footer">
      <a href="#" class="uk-button uk-button-text">Read more</a>
    </div>
  </div>
  <!--teacherCard4-->
</div>
<!--cards-->
<div class="uk-container">
    <div class="uk-child-width-expand@m uk-text-center" uk-grid>
        <!--card1-->
        <div>
          <div class="uk-card uk-card-default uk-card-body courses-card">
            <div>
                <div class="uk-card-media-top">
                  <img src="img/python-card-img.jfif" alt="" />
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Python course</h3>
                </div>
              </div>
          </div>
        </div>
        <!--card1-->
        <!--card2-->
        <div>
          <div class="uk-card uk-card-default uk-card-body courses-card">
            <div>
                <div class="uk-card-media-top">
                  <img src="img/angular-card-img.svg" alt="" />
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Angularjs course</h3>
                </div>
            </div>
          </div>
        </div>
        <!--card2-->
        <!--card3-->
        <div>
          <div class="uk-card uk-card-default uk-card-body courses-card">
            <div>
                <div class="uk-card-media-top">
                  <img src="img/flutter.jfif" alt="" />
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Flutter course</h3>
                </div>
            </div>
          </div>
        </div>
        <!--card3-->
        <!--card4-->
        <div>
            <div class="uk-card uk-card-default uk-card-body courses-card">
              <div>
                  <div class="uk-card-media-top">
                    <img src="img/c-sharp-card-img.png" alt="" />
                  </div>
                  <div class="uk-card-body">
                    <h3 class="uk-card-title">C# course</h3>
                  </div>
                </div>
            </div>
        </div>
        <!--card4-->
      </div>
</div>
<!--cards-->